[commit]
gpgsign = "true"

[core]
editor = "code --wait"

[diff]
tool = "vscode"

[difftool "vscode"]
cmd = "code --wait --diff $LOCAL $REMOTE"

[gpg]
format = "ssh"

[init]
defaultBranch = "main"

[merge]
tool = "vscode"

[mergetool "vscode"]
cmd = "code --wait --merge $REMOTE $LOCAL $BASE $MERGED"

[user]
name = "Niall"
email = "161693828+VirtuallyNiall@users.noreply.github.com"
signingkey = "key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG0J94yxJMWp4qxSrqXuybzg6gBX15TSfz8+Y0EzYM8a"
